# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Python packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
*.log
*.pot

# Alembic
alembic/versions/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Coverage reports
.coverage
htmlcov/
.tox/

# IDEs
.idea/
